body {
    background-image: url("../images/pizza_background.jpg");
    background-size: 50%;
    background-repeat: repeat;
    background-position: right bottom;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-family: "Brush Script MT";
    font-size: 90px;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .6);
    text-align: center;
}

h2 {
    color: black;
    text-shadow: 1.5px 1.5px 5px rgba(0, 0, 128, .5);
    text-align: center;
    margin-top: 10px;
}

h3 {
    color: rgba(0,0,0,1.0);
    text-shadow: 1px 1px 2px rgba(128, 0, 0, .5);
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
}

.receipt {
    text-shadow: 1px 1px 1px rgba(128, 0, 0, .3);
    margin-bottom: 10px;
}

h4 {
    text-shadow: 1.5px 1.5px 5px rgba(0, 0, 0, .6);
}

h5 {
    text-align: center;
    color: white;
    font-family: 'Goudy Old Style';
    font-size: 30px;
    font-style: italic;
    margin-top: 15px;
    text-shadow: 1.5px 1.5px 5px rgba(0, 0, 0, .6);
}

.small {
    font-size: 10px;
    text-align: center;
    margin-bottom: 0px;
}

.mainTitleContainer,.titleContainer,.subTitle {
    position: relative;
    margin: 3% auto;
    border-radius: 5px;
    padding-top: 0px;
}

.mainTitleContainer {
    width: 600px;
    height: auto;
    background-color: rgba(0, 0, 128, .9);
    border: 2px solid black;
}

.subTitle {
    width: 550px;
    height: 70px;
    background-color: rgba(0, 0, 100, .9);
    border: 2px solid black;
    margin-top: -30px;
    margin-bottom: 0px;
}

#fullMenu {
    background-color: rgba(255, 255, 255, .7);
    width: 600px;
    padding: 15px;
    margin: 15px auto;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 100);
}

.titleContainer {
    width: 250px;
    height: 50px;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid darkred;
    margin-bottom: 10px;
    background-color: white;
}

#formMenu {
    margin: 0% auto;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

#menuItems {
    margin-top: 15px;
    display: inline-block;
}

#menuPrices {
    margin-top: 15px;
    display: inline-block;
    text-align: right;
}

.sizePrices {
    margin-left: 60px;
}

.crustPrices {
    margin-left: 20px;
}

.cheesePrices {
    margin-left: 60px;
}

.menuContainer {
    position: relative;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(0, 0, 128, .9);
    border-radius: 3px;
    width: 250px;
    height: auto;
    padding: 10px 15px 20px 15px;
}

.buttons {
    text-align: center;
}

#submit {
    background-color: limegreen;
}

#cancel {
    background-color: orangered;
}

.button {
    margin: 3% 1%;
    position: inline-block;
    width: 200px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    border: 2px solid darkblue;
    color: #fff;
    border-radius: 4px;
    box-shadow: 3px 3px #999;
}
  
#submit:hover {
    background-color: green;
}

#cancel:hover {
    background-color: darkred;
}
 
.button:hover {
    background-color: rgb(0, 0, 128);
    box-shadow: 2px 2px #666;
}

.button:active {
    background-color: rgb(0, 0, 128);
    box-shadow: -2px -2px #666;
    transform: translateY(4px);
}

#cart {
    background-color: rgba(255, 255, 255, .7);
    width: 500px;
    padding: 6px;
    margin: 15px auto 50px auto;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 100);
    text-align: center;
    display: none;
}

#receipt {
    /*margin: 20px auto 40px auto;*/
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid darkred;
    width: 500px;
    height: auto; 
}

#receipt th {
    border-bottom: 2px solid;
    border-color: darkred;
    background-color: rgba(255, 255, 255, .9);
}

#receipt td {
    text-align: left;
    border-bottom: 1px solid;
    border-color: #999;
    padding: 10px;
    word-wrap: normal;
    min-width: 90px;
}

#receipt #total {
    text-align: right;
    font-weight: bold;
    font-size: 30px;
}

#receipt #totalCost {
    font-weight: bold;
    font-size: 15px;
    font-size: 24px;
}